                  <table class="row footer">
                    <tr>
                      <td class="wrapper">
                        <table class="six columns">
                          <tr>
                            <td class="left-text-pad">
                              <h5>Conectate con nosotros:</h5>
                              <table class="tiny-button facebook">
                                <tr>
                                  <td>
                                    <a href="#">Facebook</a>
                                  </td>
                                </tr>
                              </table>
                              <br>
                              <table class="tiny-button twitter">
                                <tr>
                                  <td>
                                    <a href="#">Twitter</a>
                                  </td>
                                </tr>
                              </table>
                              <br>
                              <table class="tiny-button instagram">
                                <tr>
                                  <td>
                                    <a href="#">Instagram</a>
                                  </td>
                                </tr>
                              </table>
                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table>
                      </td>
                      <td class="wrapper last">
                        <table class="six columns">
                          <tr>
                            <td class="last right-text-pad">
                              <h5>Información de Contacto:</h5>
                              <p>Teléfono: 0424 - 5581498</p>
                              <p>
                                Email:
                                <a href="mailto:info@marianparty.com">
                                  info@marianparty.com
                                </a>
                              </p>
                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                  <table class="row">
                    <tr>
                      <td class="wrapper last">
                        <table class="twelve columns">
                          <tr>
                            <td align="center">
                              <center>
                                <img src="../../app/images/logo.png" height="150" style="margin:0 auto;float:none !important;">
                              </center>
                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </center>
        </td>
      </tr>
    </table>
  </body>
</html>
